<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-./logs}" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>

    <appender name="event-log-appender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/events.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="events" level="DEBUG" additivity="false">
        <appender-ref ref="event-log-appender" />
    </logger>
        
    <appender name="ticket-log-appender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/tickets.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="tickets" level="DEBUG" additivity="false">
        <appender-ref ref="ticket-log-appender" />
    </logger>
</configuration>